<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <img 
    src="/src/assets/images/logo-svg.png"
    alt="Logo-Nike"
    class="logoNike"
  />

  <img
    src="/src/assets/images/imageShoe.png"
    alt="Imagem-tênis"
    class="imageShoe"
  />

  <ion-card-header>
    <ion-card-title> SUMMER COLLECTIONS </ion-card-title>
  </ion-card-header>
    <ion-card-title class="year"> 2024 </ion-card-title>
    <ion-card-subtitle> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Vestibulum vulputate vitae eros eu consectetur. 
      Aenean sed scelerisque tellus. Nullam.
    </ion-card-subtitle>
  <ion-card-subtitle>
    <ion-card-header/>
    <ion-toolbar class="btnAccess">
      <ion-button 
        shape="round" 
        size="large" 
        routerLink="/shoes">
        GET STARTED
      </ion-button>
    </ion-toolbar>
</ion-content>